// COLORS
$color-primary: #c69;
$color-secondary: #b37399;
$color-grey-dark: #777; 
$color-white: whitesmoke;
// COLORS
$primary-green-color: #34675C !important;
$light-green-color: #6FCF97;
$yellow-color: #E9DD93;
$red-color: #EB5757 !important;
$mischka-color: #9A9EAB !important;
$grey-color: #E0E0E0;
$dark-grey-color:#999999 !important;
$light-grey-color: #F1F1F2 !important;
$black-color: #000000;
$white-color: #ffffff !important;

//  GRID
$grid-width: 144.6rem;
$gutter-vertical: 2.4rem;
$gutter-horizontal: 6rem;
$margin-sides:6.7rem;

// CARD GRID
$card-gutter-horizontal: 1.5rem;
$card-gutter-vertical: 2.4rem;

// CARD
$first-card-vertical: 5.6rem;

// FONT SIZES
$default-font-size: 1.6rem;




